{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% block title %}
Contact
{% endblock %}
{% block content %}
    <h1>Contact</h1>
    <p> 
        On submission a data curator will review the inormation you provide. 
        For eligible datasets we will contact the authors and provide a link 
        where additional information for the dataset can be submitted if needed. 
    </p>
    {% crispy form %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
