#An example file of environment variables. Adjust and rename as '.env'
POSTGRES_PASSWORD=postgres_password
POSTGRES_USER=postgres
POSTGRES_NAME=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DJANGO_SETTINGS_MODULE=open_fmri.settings.base
DJANGO_SECRET_KEY=secret_key
DJANGO_ALLOWED_HOSTS=*
DJANGO_DEBUG=False

EMAIL_NOTIFY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

TWITTER_NOTIFY=True
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=
