#main {
    background-image: url("../images/banner_about.png");
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

.dataset-list-main {
    background-image: url("../images/banner_view_data.png");
}

#toc li {
    border-top: 1px solid #000000;
}

#toc li a {
    color: #555555;
    padding-left: 1em;
    padding-top: 1px;
    padding-bottom 1px; 
}

ol {
    list-style-type: none;
}

a, ol {
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/background-repeat.png");
    border-top: 16px solid #0e9985;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu {
    background-color: #373a3c;
}

.navbar-nav .nav-item {
    line-height: 87px;
}

.right-elem {
    background-color: #ECEEEF;
    padding: 20px 15px;
    border-radius: 10px;
}
