#container-right {
}

#container-content {
}


#toc li {
    border-top: 1px solid #000000;
}

#toc li a {
    color: #555555;
    padding-left: 1em;
    padding-top: 1px;
    padding-bottom 1px; 
}

ol {
    list-style-type: none;
}

a, ol {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.dataset_form textarea {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
     height: 5.8em;
}

.dataset_form input {
    width: 100%;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu {
    background-color: #373a3c;
}

.navbar-nav .nav-item {
    line-height: 55px;
}

.right-elem {
    background-color: #ECEEEF;
    padding: 20px 15px;
    border-radius: 10px;
}
